USE [ALDar_Hospital]
GO
/****** Object:  StoredProcedure [dbo].[sp_PATIENT_SPECIMEN_FOLLOWING]    Script Date: 02/08/2018 11:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_PATIENT_SPECIMEN_FOLLOWING]
	 @MRN INT = 0
	,@TODATE SMALLDATETIME = '2018-01-03'
AS
BEGIN
	SELECT P.FileNum
		, P.EngName
		, I.Code
		, I.EngName
		, C.EngName
		, H.TransDate
		, LFC.Caption
		, DLFD.Data
		, Unit
		, NormalValue
		

	FROM TransHdr H
		INNER JOIN TransDtl D									ON H.ID = D.TransHdrID
		INNER JOIN ServiceItems I								ON D.ServiceItemID                 = I.ID
		INNER JOIN TransDtlCustomFormsSpecimens	DCFS			ON DCFS.TransDtlsID = D.ID  AND RTRIM(DCFS.SpecimenStatus) <> 'REJ' AND RTRIM(DCFS.SpecimenStatus) <> 'CAN'
		INNER JOIN Patients P									ON H.PatientID = P.ID
		LEFT JOIN Admissions A									ON H.AdmissionID = A.ID
		INNER JOIN Beds B										ON A.BedID = B.ID
		INNER JOIN TransDtlLabFormsData		DLFD				ON DLFD.TransDtlCustomFormSpecimenID =  DCFS.ID AND DLFD.CancelDate IS NULL AND DLFD.Data is not NULL AND DLFD.Data <> ''
		INNER JOIN LabFormControls    LFC						ON DLFD.LabFormControlID          = LFC.ID
		LEFT JOIN LabFormControlsGroups      LFCG				ON LFC.LabFormControlsGroupID  = LFCG.ID
		LEFT JOIN LabForms               LF						ON LFCG.LabFormID                  = LF.ID
		JOIN ServiceItemsCats IC ON IC.ServiceItemID = I.ID
		JOIN ServiceCats C ON IC.ServiceCatID = C.ID

	WHERE H.CancelDate IS NULL
		AND H.PatientFileNum = CASE WHEN @MRN = 0 THEN H.PatientFileNum ELSE @MRN END
		AND H.TransDate BETWEEN DATEADD(DAY, -10 , @TODATE) AND @TODATE
		AND I.CODE IN ('026000199','026000001','026000007','026000045','026000046','026000010','026000012','026000058','026000080','026000081','026000257','026000073','026000072','026000044','026000100','026000097','026000052','026000083','026000082','026000014','026000015','026000179','026000158','026000162','026000188','026000159','026000271','026000041','026000670','026000069','026000254','026000066','026000101','026000043','0260000250','026000383','026000138','026000003','026000103','026000500')
		AND ( LFC.Rank = CASE WHEN I.CODE = '026000162' THEN  2 END OR LFC.Rank = CASE WHEN I.CODE = '026000162' THEN  8 END OR LFC.Rank = CASE WHEN I.CODE = '026000162' THEN  9 END OR LFC.Rank = CASE WHEN I.CODE = '026000162' THEN  3 END OR LFC.Rank = CASE WHEN I.CODE = '026000162' THEN  1 ELSE LFC.Rank  END)
		AND ( LFC.Rank = CASE WHEN I.CODE = '026000101' THEN  1 END OR LFC.Rank = CASE WHEN I.CODE = '026000101' THEN  2 END OR LFC.Rank = CASE WHEN I.CODE = '026000101' THEN  3 END OR LFC.Rank = CASE WHEN I.CODE = '026000101' THEN  5 END OR LFC.Rank = CASE WHEN I.CODE = '026000101' THEN  15 END OR LFC.Rank = CASE WHEN I.CODE = '026000101' THEN  16 ELSE LFC.Rank  END)
		AND ( LFC.Rank = CASE WHEN I.CODE = '026000043' THEN  1 ELSE LFC.Rank  END)
		--AND DLFD.Data NOT LIKE '%[^0-9.]%'

ORDER BY C.EngName
END
