USE [ALDar_Hospital]
GO
/****** Object:  StoredProcedure [dbo].[SP_STATISTIC_READMISSION_WITHIN_30_DAYS]    Script Date: 02/08/2018 11:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_STATISTIC_READMISSION_WITHIN_30_DAYS] 
		 @FROMDATE		SMALLDATETIME = '2007-01-01'
		,@TODATE		SMALLDATETIME = '2047-12-31'
AS
BEGIN
	SELECT   P1.EngName							AS PATIENT_NAME
			,P1.FileNum							AS MRN
			,A1.AdmDate							AS FIRST_ADMISSION_ADMDATE
			,B1.EngName							AS FIRST_ADMISSION_WARD
			,A1.DsgDate							AS FIRST_ADMISSION_DSGDATE
			,D1.EngName							AS FIRST_ADMISSION_DOCTOR
			,A2.AdmDate							AS SECOND_ADMISSION_ADMDATE
			,B2.EngName							AS SECOND_ADMISSION_WARD
			,D2.EngName							AS SECOND_ADMISSION_DOCTOR
			,(SELECT COUNT(PatientID) C FROM Admissions WHERE DsgDate BETWEEN @FROMDATE AND @TODATE) AS TOTAL_DISCHARGE
			,@FROMDATE
			,@TODATE

	FROM	Admissions A1 
			JOIN Admissions A2	ON A1.PatientID		= A2.PatientID
			JOIN Patients P1	ON A1.PatientID		= P1.ID
			JOIN Doctors D1		ON A1.DoctorID		= D1.ID
			JOIN BedsClasses B1 ON A1.BedClassID	= B1.ID
			JOIN Patients P2	ON A2.PatientID		= P2.ID
			JOIN Doctors D2		ON A2.DoctorID		= D2.ID
			JOIN BedsClasses B2 ON A2.BedClassID	= B2.ID 

	WHERE	A2.AdmDate BETWEEN DATEADD(DAY, 1, A1.DsgDate) AND DATEADD(DAY, 30, A1.DsgDate) 
			AND A2.AdmDate BETWEEN @FROMDATE AND @TODATE
END
